.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.upper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  width: 100%;
  height: 64px;
  z-index: 100;
  padding: 0 8px;
  position: absolute;
  border-bottom: 1px solid white;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header {
  max-width: 1080px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  border-top: 1px solid white;
}

.footer {
  max-width: 1080px;
  flex-grow: 1;
  padding: 8px;
  padding-bottom: 24px;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-top: 64px;
  padding-top: 16px;
}

.resume {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;
}

.personal-location {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: small;
  margin: 4px 0;
}

.personal-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: small;
  white-space: nowrap;
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid white;
}

.contact span, a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.resume-section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.section {
  width: 100%;
  max-width: 800px;
  flex-grow: 1;
  margin-bottom: 24px;
}

.section:last-child {
  margin-bottom: 0 !important;
}

.section h4 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.period {
  text-align: right;
  font-size: small;
  white-space: nowrap;
}

.location {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: small;
  margin: 4px 0;
}

.location hr {
  flex-grow: 1;
  height: 1px;
}

.company {}

.company-content {}

.company-role {
  margin-bottom: 16px;
}

.company-role:last-child {
  margin-bottom: unset !important;
}

.company-role-title {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-wrap: wrap;
}

.company-role-role {
  flex-grow: 1;
  margin-right: 24px;
}

.responsibility {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: small;
  margin-top: 8px;
}

.responsibility-identity {
  flex-shrink: 0;
  width: 30%;
}

.responsibility-title {
  margin-top: 8px;
}

.experience {
  margin-left: 12px;
  margin-top: 8px;
}

.responsibility-content {
  flex-shrink: 0;
  width: calc(70% - 12px);
  padding-bottom: 4px;
  padding-left: 12px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.responsibility .skill-list {
  margin-top: 4px;
}

.responsibility ul {
  margin-left: 24px;
}

.qualification-content {
  margin-bottom: 12px;
}

.qualification-specialization {
  font-size: small;
}

.qualification-institute {
  font-size: small;
  margin-top: 8px;
}

.connect-page {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  max-width: 1080px;
}

.connect-page-content {
  margin-right: 24px;
  margin-bottom: 12px;
  margin-left: 8px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: nowrap;
  border-left: 1px solid white;
}

.connect-page-content a {
  display: flex;
  align-items: center;
  gap: 4px;
}